:root{
    --text-color: white;
}
body{
    margin: 0px;
    padding: 0px;
    background: #E9EBEE;
}
.fullheader{
    flex-direction: row;
    display: flex;  
    background-color: #4267b2;
    height: 42px;
}
.fullheader .form{
    margin: 8px 0px 0px 0px;    
    display: flex;
    list-style: none;
}
.form input{
    padding-left: 10px;
    margin-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 22px;
    width: 200px;
}
.form button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f5f6f7;
    cursor: pointer;
    border: none;
    height: 24px;
}
.text{
    margin: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: helvetica,Arial, Helvetica, sans-serif;
    color: var(--text-color);
}
.text:hover{
    cursor: pointer;
}
.inListItem i:hover{
    color: cadetblue;
    cursor: pointer;
}
.inListItem li{
    padding: 0px 2px 0px 4px;
}
#dropDown:hover{
    cursor: pointer;
}
ul .item:hover{
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}
.inListItem {
    margin: 8px 0px 4px 24%;
    display: flex;
    list-style: none;
}


