:root{
    --text-color: white;
}
body{
    margin: 0px;
    padding: 0px;
    background: #E9EBEE;
}
.fullheader{
    flex-direction: row;
    display: flex;  
    background-color: #4267b2;
    height: 42px;
}
.fullheader .form{    
    margin: 4px 0px 0px 0px;
    display: flex;
    list-style: none;
}
.form input{
    padding-left: 10px;
    margin-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 22px;
}
.form button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f5f6f7;
    cursor: pointer;
    border: none;
    height: 24px;
}
.text{
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
    font-family: helvetica,Arial, Helvetica, sans-serif;
    color: var(--text-color);
}
.inListItem li{
    padding: 0px 4px 0px 4px;
}
#dropDown:hover{
    cursor: pointer;
}
.arrowlist{
    display: none;
    border-radius: 2px;
    margin: 8px 0px 0px 0px;
    padding: 5px 18px 5px 18px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D2129;
    list-style: none;
    background-color: white;
    border: 1px solid grey;
}
.arrowlist .item1{
    padding: 5px 14px 5px 14px;
}
.arrowlist .item2{
    padding: 5px 14px 5px 14px;
}
.arrowlist .item3{
    padding: 5px 14px 5px 14px;
}
.arrowlist .item4{
    padding: 5px 14px 5px 14px;
}
.arrowlist .item5{
    padding: 5px 14px 5px 14px;
}
.arrowlist li:hover{
    cursor: pointer;
    background-color: #385898;
    border-radius: 2px;
    color: white;
}
.listhr{
    opacity: 0.4;
}
ul{
    padding: 5px 5px 5px 5px;
    float: right;
    margin: 2px 20% 0px 0px;
    list-style: none;
    display: none;
} 
ul .item:hover{
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}
.inListItem {
    margin: 5px 0px 4px 32%;
    display: flex;
    flex-flow: row;
    list-style: none;
}
#tableMenu{
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 8px 0px 15px 63px;
    margin: 10% 0% 0% 30%;    
    background-color: darkgray;
    height: 200px;
    width: 35%;
}
#tableheading th{
    padding: 10px 80px 10px 0px;
}
.table tr{
    width: 60px;
}
.table tr:hover{
    background-color: crimson;
}
#tableMenu:hover{
    cursor: pointer;
    background-color: cadetblue;
}

.formInput{
    margin: 2% 0% 0% 35%;
}
.makeiteasy{
    font-size: 19px;
    color: #333333;
    margin: 0px 0px 20px 0px;  
}
.h1{
    color: #333333;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 0px 10px 0px;
}
.nameinput , .nameinput1{
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #bdc7d8;
    height: 26px;
    width: 340px;
    margin: 8px 8px 0px 0px;
}
.nameinput2 , .nameinput3{
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #bdc7d8;
    height: 26px;
    width: 340px;
    margin: 8px 0px 0px 0px;
}
.nameinput , .nameinput1 , .nameinput2 , .nameinput3::placeholder{
    font-size: 18px;
}
.bday , .genderinput{
    color: #90949c;
    margin: 20px 0px 5px 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.dateinput{
    padding: 2px 2px 2px 2px;
}
.questionimg{
    margin: 0px 0px 0px 10px;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
.choosegender{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 0px 1px;
    color: #1D2129;
}
.choose{
    padding: 5px 0px 5px 4px;
}
.paragraph{
    font-size: 11px;
    color: #777;
    width: 350px;
    margin: 16px 0px 0px 0px;
}
.termlink , .datalink , .cookielink{
    text-decoration: none;
    color: #385898;
}
.cookielink:hover{
    text-decoration: underline;
}
.datalink:hover{
    text-decoration: underline;
}
.termlink:hover{
    text-decoration: underline;
}
.btn{
    border-radius: 10px;
    border: none;
    margin: 18px 0px 0px 0px;
    width: 194px;
    height: 39px;
    background-color: #69A74E;
}
.btn:hover{
    cursor: pointer;
}
.horizental{
    opacity: 0.2;
    width: 450px;
    margin: 22px 0px 0px 0px;
}
.paragraph1{
    font-size: 13px;
    color: #666;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}
.page{
    text-decoration: none;
}
.page:hover{
    text-decoration: underline;
}